:root {
  /* main-color-1 ~ main-color-2 사이의 색상 모두 사용 가능 */
  --main-color-1: #fef63d;
  --main-color-2: #fec54a;
  --main-color-3: #2f1520;
  --sub-color-1: #25fef7;
  --sub-color-2: #d81936;
  --sub-color-3: #d6fe1e;
  --bg-color-light:#fffeed;
  --link-text-color: #921052;
  --visited-text-color: #350a1f;
}
section > h2, section > p {
  text-align: center;
  font-size: xx-large;
}

/* 팬아트 */
.row {
  width:420px;
  margin:0 auto;
}      
.row ul {
  list-style:none;
  display: flex;
  flex-wrap: wrap;
}

/* 라이트 박스 스타일 */
#lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  display: none;
  z-index: 1000;
}
#lightbox img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #eee;
}
body.lightroom-active {
  pointer-events: none;
  overflow: hidden;
}
body.lightroom-active #lightbox,
body.lightroom-active #lightbox img {
  pointer-events: auto;
}
.pic:hover {
  filter: brightness(1.5);
}
body.lightroom-active * {
  cursor: default !important;
}
/* 이미지 설명 스타일 */
#lightboxCaption {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1.2rem;
  text-align: center;
  background: rgba(0, 0, 0, 0);
  padding: 10px 15px;
  border-radius: 8px;
  max-width: 80%;
}

/* 바로가기 */
.link {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.link td {
  width: 12rem;
  height: 12rem;
  text-align: center;
}
.link img {
  width: 75%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.age-warning {
  color: red;
  margin: 0;
}