:root {
  /* main-color-1 ~ main-color-2 사이의 색상 모두 사용 가능 */
  --main-color-1: #fef63d;
  --main-color-2: #fec54a;
  --main-color-3: #2f1520;
  --sub-color-1: #25fef7;
  --sub-color-2: #d81936;
  --sub-color-3: #d6fe1e;
  --bg-color-light:#fffeed;
  --link-text-color: #921052;
  --visited-text-color: #350a1f;
}
/* * {
NOTE: 여기에 전체 설정 추가
} */
body {
  background: var(--bg-color-light);
  margin: 0;
  display: grid;
}
a:link {
  color: var(--link-text-color);
}
a:visited {
  color: var(--visited-text-color);
}

/* 헤더 영역 */
header {
  padding-bottom: 12px;
  margin: 0;
}
.head-menu-div {
  background: linear-gradient(135deg, var(--main-color-1), var(--main-color-2));
}
.main-ico img {
  width: 3em;
  height: 3em;
}
.main-ico a {
  text-decoration: none;
  color: #fff;
}
.menu {
  width: 85%;
  margin: 0;
}
.button {
  border: 1px solid #fff;
  padding: 15px 30px;
  margin: 7%;
  font-size: x-large;
  font-weight: 900;
  text-decoration: none;
  letter-spacing: 2px;
  color: #fff;
  outline: 2px solid #fff;  
  position: relative;
  overflow: hidden;
  transition: color 1s;
}
.button::before {
  background-color: #ffffff;
}
.button:hover {
  
}
.button:hover::before {
  
}

/* 메인-이름, 나이등 정보 */
.profile {
  position: relative;
  width: 25.6rem;
  height: auto;
  left: 36.52%;
  display: flex;
  justify-content: space-between;
}
.info, .info th, .info td {
  border: 2px solid var(--main-color-3);
  border-collapse: collapse;
}
.info th, .info td {
  padding: 0.3rem 0.63rem;
  font-size: large;
  text-align: center;
}
.info th {
  background: var(--main-color-2);
  width: 9rem;
  height: auto;
}
.info td {
  width: 13.75rem;
  height: auto;
}
.profile-info {
  border: 2px solid var(--main-color-3);
  background: var(--main-color-2);
  background: linear-gradient(180deg, var(--main-color-2), var(--main-color-1) 75%);
}
.profile-info h2 {
  background: var(--main-color-2);
  margin: 0;
}
.profile-info p {
  background: var(--main-color-1);
  margin: 0;
}
.main-color mark {
  background: var(--main-color-1);
  border: 2px solid var(--main-color-3);
  border-radius: 5px;
}
.profile-img{
  background: var(--main-color-2);
  background: linear-gradient(180deg, var(--main-color-2), var(--main-color-1) 75%);
  width: 25rem;
  height: 25rem;
}

/* 매인 내용 */


/* 바로가기 */
.links img {
  width: 75%;
  height: auto;
}
.links td {
  width: 13rem;
  height: 13rem;
  text-align: center;
}
.age-warning {
  color: red;
  margin: 0;
}

/* 푸터 영역 */
footer {
  padding: 60px 10%;
  font-size: smaller;
}
.ppul-gul {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
}
.ppul-gul-boss {
  text-align: left;
}
.ppul-gul-TMI, .help {
  text-align: center;
}
.introduce {
  text-align: right;
}

/* 미디어 쿼리 */
/* 난 반응형으로 만들기를 포기했다. */
@media screen and (min-width: 1024px) and (max-width: 1027px) {
  .menu {
    width: 84%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .profile {
    left: 25%;
  }
  .menu {
    width: 83%;
  }
}
@media screen and (min-width: 702px) and (max-width: 769px) {
  .profile {
    left: 24%;
  }
  .menu {
    width: 78%;
  }
  .button {
    margin: 4%;
  }
}
/* 모바일 호환은 개나줘버려라 TTㅣ발 */
@media screen and (max-width: 420px) {
  .text-a {
    width: 50px;
  }
  .image {
    width: 49px;
  }
  .profile {
    left: 20%;
  }
  .menu {
    width: 50%;
  }
  .button {
    padding: 5px 10px;
    margin: 0.25%;
    font-size: medium;
    font-weight: normal;
  }
  .main-ico h1 {
    font-size: large;
    font-weight: 500;
    width: 65px;
  }
}