:root {
  /* main-color-1 ~ main-color-2 사이의 색상 모두 사용 가능 */
  --main-color-1: #fef63d;
  --main-color-2: #fec54a;
  --main-color-3: #2f1520;
  --sub-color-1: #25fef7;
  --sub-color-2: #d81936;
  --sub-color-3: #d6fe1e;

}
/* * {
NOTE: 여기에 전체 설정 추가
} */
body {
  background: #fffedd;
}
/* 이름, 나이등 정보 */
.profile {
  position: relative;
  left: 33rem;

}
.info, .info th, .info td {
  border: 2px solid var(--main-color-3);
  border-collapse: collapse;
}
.info th, .info td {
  padding: 5px 10px;
  font-size: large;
  text-align: center;
}
.info th {
  background: var(--main-color-2);
  width: 9rem;
  height: auto;
}
.info td {
  width: 13.75rem;
  height: auto;
}
.profile-info {
  border: 2px solid var(--main-color-3);
  background: var(--main-color-2);
  background: linear-gradient(180deg, var(--main-color-2), var(--main-color-1) 75%);
}
.profile-info h2 {
  background: var(--main-color-2);
  margin: 0;
}
.profile-info p {
  background: var(--main-color-1);
  margin: 0;
}
.main-color mark {
  background: var(--main-color-1);
  border: 2px solid var(--main-color-3);
  border-radius: 5px;
}
.profile-img{
  background: var(--main-color-2);
  background: linear-gradient(180deg, var(--main-color-2), var(--main-color-1) 75%);
  width: 25rem;
  height: 25rem;
}
.link img {
  width: 75%;
  height: auto;

}
.youtube, .discord, .nyagit, .CHZZK, .ruliweb, .Pixiv {
  width: 13rem;
  height: 13rem;
  text-align: center;
}
.Pixiv strong {
  color: red;
}